/* UserList.module.css */

.container {
    background-color: #FFFDF6; 
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title {
    font-size: 1.75rem;
    font-weight: bold;
    color: #4C5372; 
}

.addButton {
    background-color: #7C7E9D; 
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.addButton:hover {
    background-color: #4C5372; 
    transform: scale(1.05);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    gap: 20px;
    justify-content: center;
    
}

.loading,
.error,
.noUsers {
    text-align: center;
    padding: 16px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #949AB1; 
}
